:root {
  --color-background: #151519;
  --color-background-lighter: #212125;
  --color-background-lightest: #353539;
  --color-text-primary: #eee;
  --color-text-darker: #fff2;
}

@font-face {
  font-family: Inter;
  src: url(./fonts/InterVariable.ttf);
}

@font-face {
  font-family: Roboto Flex;
  src: url(./fonts/Unbounded-Variable.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  user-select: none;
}