:root {
  --color-background: #191515;
  --color-background-lighter: #252121;
  --color-background-lightest: #393535;
  --color-text-primary: #eee;
  --color-text-darker: #fff2;
  --color-border: #fff3;

  --theme-accent-inactive: #fff1;
  --theme-accent-active: #55f;
  --theme-accent-active-darker: #33bc;
}

@font-face {
  font-family: Inter;
  src: url(./fonts/InterVariable.ttf);
}

@font-face {
  font-family: Unbounded;
  src: url(./fonts/Unbounded-Variable.ttf);
}

@font-face {
  font-family: CascadiaCode;
  src: url(./fonts/CascadiaCode.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}
