@use './base.scss';

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border-radius: 5rem;
  overflow: hidden;

  color: var(--color-text-primary);
  background: var(--color-background);

  #app {
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

input:is([type='text'], [type='password']) {
  min-width: 0;
  width: 4rem;
  max-width: 12rem;
  flex: 1 1 0;

  height: 1.25rem;
  background-color: #0006;
  color: var(--text-color);
  font-family: Inter;
  font-weight: 460;
  padding: 0 0.2rem;
  border: none;
  border-radius: 0.2rem;
  outline: solid var(--theme-accent-inactive) 2px;

  transition:
    outline-color 100ms,
    filter 100ms;
  &:hover {
    outline: solid var(--theme-accent-active) 2px;
  }
  &:focus {
    outline: solid var(--theme-accent-active) 2px;
    filter: drop-shadow(0 0 3px var(--theme-accent-active-darker));
  }
}

input[type='checkbox'] {
  appearance: none;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    border: none;
    background-color: #0006;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="white" opacity="0.1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>');
    border-radius: 0.2rem;
    outline: solid var(--theme-accent-inactive) 2px;

    transition:
      outline-color 100ms,
      filter 100ms,
      background-color 100ms;
  }
  &:checked::before {
    outline: solid var(--theme-accent-active) 2px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>');
    filter: drop-shadow(0 0 3px var(--theme-accent-active-darker));
  }

  &:focus-visible {
    outline: none;
  }
  &:not(:checked):is(:hover, :focus-visible)::before {
    outline: solid var(--theme-accent-active) 2px;
    filter: drop-shadow(0 0 3px var(--theme-accent-active-darker));
  }
  &:checked:is(:hover, :focus-visible)::before {
    outline-offset: -1px;
    outline-width: 3px;
    background-color: var(--theme-accent-active);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>');
  }
}

button {
  margin: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  background-color: #0006;
  color: var(--text-color);
  font-family: Inter;
  outline: solid 2px var(--theme-accent-inactive);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition:
    background-color 80ms,
    outline 100ms,
    outline-offset 100ms,
    filter 100ms;

  &:is(:hover, :focus-visible) {
    background-color: #0004;
    outline: solid 2px var(--theme-accent-active);
    filter: drop-shadow(0 0 3px var(--theme-accent-active-darker));
  }
  &:disabled {
    filter: brightness(0.4);
    pointer-events: none;
    user-select: none;
  }
}
