@import './base.scss';

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border-radius: 5rem;
  overflow: hidden;

  #app {
    color: var(--color-text-primary);
    background: var(--color-background);

    margin: 2px;

    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: fixed;
    
    border: solid 1.5px var(--color-border);
    border-radius: .5rem;
    overflow: hidden;
  }
}

input[type="text"] {
  min-width: 0;
  width: 4rem;
  max-width: 12rem;
  flex: 1 1 0;
  
  height: 1.25rem;
  background-color: #0006;
  color: var(--text-color);
  font-family: Inter;
  font-weight: 460;
  padding: 0 0.2rem;
  border: none;
  border-radius: 0.2rem;
  outline: solid var(--theme-accent-inactive) 2px;

  transition: outline-color 100ms, filter 100ms;
  &:focus {
    outline: solid var(--theme-accent-active) 2px;
    filter: drop-shadow(0 0 3px var(--theme-accent-active-darker));
  }
}

button {
  margin: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  background-color: #0006;
  color: var(--text-color);
  font-family: Inter;
  outline: solid 2px transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  
  transition: background-color 80ms, outline-color 100ms, filter 100ms;

  &:is(:hover, :focus-visible) {
    background-color: #0004;
    outline: solid 2px var(--theme-accent-active);
    filter: drop-shadow(0 0 3px var(--theme-accent-active-darker));
  }
}